@font-face {
  font-family: FiraCode;
  src: url(fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: SyneMono;
  src: url(/fonts/SyneMono-Regular.ttf);
}

.font-firacode {
  font-family: FiraCode;
}

.font-syne {
  font-family: SyneMono;
}

@media print {
  a[href]:after {
    content: " (" attr(href) ")";
  }
  img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }
  p {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }
}
